* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-color: #e3f6ff;
    color: #ffffff;
}



header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2957ff;
    padding: 14px 40px;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.3);
    position: sticky;
    top: 0;
    z-index: 999;
}

.logo-titulo {
    display: flex;
    align-items: center;
    gap: 12px;
}

h1 {
    color: rgb(255, 255, 255);
}

h3 {
    color: rgb(0, 0, 0);
}

.comentario-falso {
    color: #000000;
}

span { color: rgb(255, 166, 0); }

.colunas {
    display: flex;
    gap: 24px;
    padding: 24px 40px;
    align-items: flex-start;
}

.coluna-video {
    flex: 0 0 40%;
    max-width: 40%;
}

.coluna-texto {
    flex: 0 0 35%;
    max-width: 35%;
    padding: 0px 60px;
}

.coluna-lateral {
    flex: 0 0 25%;
    max-width: 25%;
    position: relative;
    z-index: 0;
}

.coluna-video video {
    width: 100%;
    border-radius: 12px;
}

.coluna-video h2 {
    color: #1a6fc4;
    font-size: 1.5rem;
    margin-bottom: 8px;
    padding: 0px 10px;
}

.area-comentarios {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.input-comentario {
    display: flex;
    gap: 12px;
    align-items: flex-start;
}

.comentario-falso {
    display: flex;
    gap: 12px;
    align-items: flex-start;
}

.avatar {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    flex-shrink: 0;
}

.campo {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.campo textarea {
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    background: transparent;
    padding: 4px 0;
    resize: none;
    font-size: 0.9rem;
    outline: none;
}

.botoes {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}

.cancelar {
    background: transparent;
    border: none;
    cursor: pointer;
    color: #555;
    padding: 8px 16px;
    border-radius: 20px;
}

.enviar {
    background-color: #1a6fc4;
    color: #fffddf;
    border: none;
    padding: 8px 16px;
    border-radius: 20px;
    cursor: pointer;
}

.manchete {
    font-size: 1.5rem;
    color: #d88f19;
    margin-bottom: 12px;
}

.lide {
    font-weight: 600;
    color: #1f9acf;
    font-size: 1rem;
    margin-bottom: 16px;
}

.linha-azul {
    border: none;
    border-top: 2px solid #ff9500;
    margin-bottom: 16px;
}

.corpo {
    color: #1380c0;
    line-height: 1.7;
    font-size: 0.95rem;
    margin-bottom: 12px;
}

.video-lateral {
    display: flex;
    gap: 10px;
    align-items: flex-start;
    cursor: pointer;
    margin-bottom: 16px;
}

.thumb {
    width: 120px;
    height: 70px;
    object-fit: cover;
    border-radius: 8px;
    flex-shrink: 0;
}

.video-info {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.video-titulo {
    font-size: 0.88rem;
    font-weight: 600;
    color: #1a1a1a;
}

.video-data {
    font-size: 0.78rem;
    color: #999;
}

.bloqueado {
    opacity: 0.4;
    pointer-events: none;
    
}

a.video-lateral {
    text-decoration: none;
    color: inherit;
}


.barra-botoes {
    display: flex;
    gap: 12px;
    padding: 10px 24px;
    flex-wrap: wrap;
}

.btn-menu {
    text-decoration: none;
    color: white;
    background-color: #2957ff;
    padding: 8px 18px;
    border-radius: 20px;
    font-size: 0.9rem;
    font-weight: 500;
    border: 1px solid rgba(255,255,255,0.2);
    transition: background 0.2s;
}

.btn-menu:hover {
    background-color: #ff9900;
    color: #1a1a1a;
}

.sem-hover:hover {
    background-color: #2957ff !important;
    color: rgb(255, 174, 0) !important;
}

@media (max-width: 1024px) {
    h1 {
        font-size: 1.1rem;
    }

    nav.barra-botoes {
        gap: 16px;
        font-size: 0.9rem;
    }

    .colunas {
        padding: 16px;
        gap: 16px;
    }
}

@media (max-width: 768px) {
    .barra-botoes {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
        max-width: 50%;
        padding: 0;
        gap: 8px;
    }

    .btn-menu {
        padding: 5px 10px;
        font-size: 0.75rem;
    }
    header {
        padding: 10px 16px;
        flex-wrap: nowrap;
        gap: 8px;
    }

    h1 {
        font-size: 0.8rem;
    }

    .logo-titulo p {
        display: none;
    }

    .colunas {
        flex-direction: column;
        padding: 16px;
    }

    .coluna-video {
        flex: 0 0 100%;
        max-width: 100%;
        order: 1;
    }

    .coluna-lateral {
        flex: 0 0 100%;
        max-width: 100%;
        order: 2;
        display: flex;
        gap: 16px;
        flex-direction: column;
        
    }

    .coluna-lateral .thumb {
        width: 100%;
        height: 160px;
    }

    .coluna-lateral .video-lateral {
        flex-direction: column;
    }

    .coluna-texto {
        flex: 0 0 100%;
        max-width: 100%;
        order: 3;
    }

    .area-comentarios {
        order: 4;
    }
}


.divisor-mobile {
    display: none;
}

@media (max-width: 768px) {
    .divisor-mobile {
        display: block;
        border: none;
        border-top: 2px solid #ff9500;
        width: 100%;
    }
}
